<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); -%>

    <style>
        body {font-family: Arial, Helvetica, sans-serif;}
        
        /* The Modal (background) */
        .modal {
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          z-index: 3; /* Sit on top */
          padding-top: 100px; /* Location of the box */
          left: 0;
          top: 0;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
        }
        
        /* Modal Content */
        .modal-content {
          position: relative;
          background-color: #fefefe;
          margin: auto;
          padding: 0;
          border: 1px solid #888;
          width: 50%;
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
          -webkit-animation-name: animatetop;
          -webkit-animation-duration: 0.4s;
          animation-name: animatetop;
          animation-duration: 0.4s
        }
        
        /* Add Animation */
        @-webkit-keyframes animatetop {
          from {top:-300px; opacity:0} 
          to {top:0; opacity:1}
        }
        
        @keyframes animatetop {
          from {top:-300px; opacity:0}
          to {top:0; opacity:1}
        }
        
        /* The Close Button */
        .close {
          color: white;
          float: right;
          font-size: 28px;
          font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }
        
        .modal-header {
          padding: 2px 16px;
          background-color: rgba(34, 34, 51, 0.705);
          color: white;
        }
        
        .modal-body {padding: 2px 16px;}
        
        .modal-footer {
          padding: 2px 16px;
          background-color: rgba(34, 34, 51, 0.705);
          color: white;
          display: flex;
          justify-content: center;
          display: grid;
            place-items: center;
        }
    </style>

    <script>
    function saveAndContinue() {

        document.getElementById("form").submit();
    }
    function clearModalContent() {
    // Reset the values of elements with specific IDs to empty
    // document.getElementById("SRNC").innerHTML = "";
    // document.getElementById("PONumber").innerHTML = "";
    // document.getElementById("supplier").innerHTML = "";
    // document.getElementById("dateRec").innerHTML = "";
    // document.getElementById("houseware").innerHTML = "";


    // Clear the table inside the modal
    var modalTable = document.getElementById("purchases_tbl_modal");
    modalTable.innerHTML = "";
    }


        function showConfirmation() {

        clearModalContent();
        
        var html = '';
        var NodeList = document.getElementsByName("prod_code");
        var NodeList2 = document.getElementsByName("prod_name");
        var prod_unit = document.getElementsByName("status");
        var prod_qty = document.getElementsByName("txtDate");
        
        var batch_code = document.getElementsByName("txtNote");
        var product_date = document.getElementsByName("prod_unit");
        var expiry_date = document.getElementsByName("RoomAssign");
        var prod_level = document.getElementsByName("type");
        var Conver = document.getElementsByName("prod_level");


        var nodeVal = '';
        var productName = '';
        var valprod_unit = '';
        var valprod_qty = '';
        var valbatch_code = '';
        var valproduct_date = '';
        var valexpiry_date = '';
        var valprod_level = '';
        var valConver = '';

        for (var x = 0; x < NodeList.length; x++) {
            nodeVal = NodeList[x].value;
            productName = NodeList2[x].value;
            valprod_unit = prod_unit[x].value;
            valprod_qty = prod_qty[x].value;
            valbatch_code = batch_code[x].value;
            valproduct_date = product_date[x].value;
            valexpiry_date = expiry_date[x].value;
            valConver = Conver[x].value;
            valtype = type[x].value;

            const selectedIndex = prod_level[x].selectedIndex;
            const selectedValue = prod_level[x].value;
            valprod_level = prod_level[x].options[selectedIndex].text;
            
            html += '<tr>';
            html += '<td>';
            html += '<p>' + nodeVal + '</p>';
            html += '</td>';

            html += '<td>';
            html += productName;
            html += '</td>';

            html += '<td>';
            html += valbatch_code;
            html += '</td>';

            html += '<td>';
            html += valproduct_date;
            html += '</td>';

            html += '<td>';
            html += valexpiry_date;
            html += '</td>';

            html += '<td>';
            html += valprod_qty;
            html += '</td>';

            html += '<td>';
            html += valprod_unit;
            html += '</td>';
            
            html += '<td>';
            html += valConver;
            html += '</td>';

            html += '<td>';
            html += valtype;
            html += '</td>';

            html += '<td>';
            html += valprod_level;
            html += '</td>';

            html += '</tr>';
        }

        var htmlfinal = "";
        htmlfinal += '<thead class="thead-primary">';
        htmlfinal += '<tr>';
        htmlfinal += '<th scope="col">Item Code / Serial No. </th>';
        htmlfinal += '<th scope="col">Item Description </th>';
        htmlfinal += '<th scope="col">Status </th>';
        htmlfinal += '<th scope="col">Date </th>';
        htmlfinal += '<th scope="col">Note </th>';
        htmlfinal += '<th scope="col">Unit of Measure </th>';
        htmlfinal += '<th scope="col">Area </th>';
        htmlfinal += '<th scope="col">Level</th>';
        htmlfinal += '<th scope="col">Location </th>';
        htmlfinal += '</tr>';
        htmlfinal += '</thead>';
        htmlfinal += '<tbody id="tblPage_new_modal">';
        htmlfinal += html;
        htmlfinal += '</tbody>';

        var modal = document.getElementById("myModal");
        var span = document.getElementsByClassName("close")[0];


        modal.style.display = "block";
        span.onclick = function () {
            modal.style.display = "none";
        };

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "block";
            }
        };



        var modalContent = document.getElementById("purchases_tbl_modal");
        modalContent.innerHTML = "";



        document.getElementById("supplier").innerHTML = document.getElementById("suppliers").value;
        document.getElementById("dateRec").innerHTML =  document.getElementById("date").value;
        document.getElementById("houseware").innerHTML =  document.getElementById("warehouse_name").value;
        document.getElementById("Inv").innerHTML = document.getElementById("invoice").value;


        modalContent.innerHTML = htmlfinal;
        
    }


    </script>
</head>

<body onload="showTextbox()" >
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <%- include('./partials/header_logo'); -%>

            <!--**********************************
            Nav header end
        ***********************************-->

            <!--**********************************
            Header start
        ***********************************-->
            <%- include('./partials/header',{titel: language.purchase}); -%>

                <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

                <!--**********************************
            Sidebar start
        ***********************************-->
                <%- include('./partials/sidebar'); -%>

                    <!--**********************************
            Sidebar end
        ***********************************-->

                    <!--**********************************
            Content body start
        ***********************************-->
                    <div class="content-body">
                        <div class="container-fluid">

                            <!-- row -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title"><%= language.add_purchases %> </h4>
                                            <button type="button" class="btn btn-rounded btn-outline-info"
                                                onclick="history.back()"><i class="la la-undo"></i> <%= language.go_back %> </button>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-validation">

                                                <form class="needs-validation"
                                                    action="/all_purchases_finished/view/add_purchases" method="post" id="form">

                                                    <div class="row mb-3">


                                                        <div class="col-xl-3 col-sm-6">
                                                            <div class="form-group">
                                                                <label for="invoice_no"> Document Number <span
                                                                        class="text-red"> *</span></label>
                                                                <input type="text" name="invoice" class="form-control" value="<%= invoice %>"
                                                                    id="invoice" readonly>
                                                            </div>
                                                        </div>


  
                                                        <div class="col-xl-3 col-sm-6">
                                                            <div class="form-group">
                                                                <label for="invoice_no"><%= language.supplier %>  <span
                                                                        class="text-red">*</span></label>
                                                                <select class="form-control" name="suppliers"
                                                                    id="suppliers" required>
                                                                    <option value selected disabled>Select One</option>
                                                                    <% suppliers.forEach((suppliers)=> { %>
                                                                        <option value="<%= suppliers.name %>">
                                                                            <%= suppliers.name %>
                                                                        </option>
                                                                        <% }) %>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-3 col-sm-6">
                                                            <div class="form-group">
                                                                <label for="invoice_no">Date received  <span
                                                                        class="text-red">*</span></label>
                                                                <input type="date" name="date" class="form-control"
                                                                    id="date" required>
                                                            </div>
                                                        </div>

                                                        <div class="col-xl-3 col-sm-6">
                                                            <div class="form-group">
                                                                <label for="invoice_no"><%= language.warehouse %>  <span
                                                                        class="text-red">*</span></label>
                                                                <select class="form-control" name="warehouse_name"
                                                                    id="warehouse_name" onchange="SelectRoom(); BayBin();" required>
                                                                    <option value selected disabled>Select One</option>
                                                                    <% warehouse.forEach((warehouse)=> { %>
                                                                        <option value="<%= warehouse.name %>">
                                                                            <%= warehouse.name %>
                                                                        </option>
                                                                        <% }) %>
                                                                </select>
                                                            </div>
                                                        </div>
                                                       
                                                        <div class="col-xl-3 col-sm-6">
                                                            <div class="form-group">
                                                                <label for="invoice_no">Area  <span
                                                                        class="text-red">*</span></label>                                     

                                                                <div id="showRoom">

                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>

                                             


                                                    
                                                    
                                                    <div class="row mb-3">
                                                        <div class="col-xl-4 col-sm-6">
                                                            <!--<input type="button" class="btn btn-primary" onclick="showTextbox('Primary')" value="Primary Barcode">-->
                                                            <!--<input type="button" class="btn btn-primary" onclick="showTextbox('Secondary')" value="Secondary Barcode">-->
                                                            
                                                            <select class="form-control" id="choice-dropdown" onchange="showTextbox()">
                                                                <!-- <option value="">Select an option</option> -->
                                                                <option value="Primary">Please Scan the Barcode...</option>
                                                                <!-- <option value="Secondary">Secondary</option> -->
                                                            </select>
                                                        </div>    
                                                            
                                              
                                                             <div class="col-xl-12" id="primary-textbox" style="display: none;">
                                                                <div class="form-group">
                                                                    <label for="invoice_no">Barcode  <span
                                                                            class="text-red">*</span></label>
                                                                    <input type="text" name="product_code" class="form-control" id="product_code">
                                                                </div>
                                                             </div>
                                                             
                                                             
                                                              <div class="col-xl-12" id="secondary-textbox" style="display: none;">
                                                                <div class="form-group">
                                                                    <label for="invoice_no2">Secondary Barcode  <span
                                                                            class="text-red">*</span></label>
                                                                    <input type="text" name="product_code2" class="form-control" id="product_code2">
                                                                </div>
                                                              </div>
                                                        
                                                    </div>
                                                    
                                                    
                                                    <div class="col-xl-12">
                                                        <div class="table-responsive">
                                                            <table class="table primary-table-bordered" id="purchases_tbl_new">
                                                                <thead class="thead-primary">
                                                                    <tr>
                                                                        <th scope="col">Item Code / Serial No. </th>
                                                                        <th scope="col">Item Description </th>
                                                                        <th scope="col">Status </th>
                                                                        <th scope="col">Date </th>
                                                                        <th scope="col">Note </th>
                                                                        <th scope="col">Unit of Measure </th>
                                                                        <th scope="col">Area</th>
                                                                        <th scope="col">Level </th>
                                                                        <th scope="col">Location </th>
                                                                        <th scope="col">Action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="tblPage_new">
                                                                    
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    

                                                    <div class="row">
                                                        <div class="col-md-8 col-sm-6">
                                                            <div class="form-group">
                                                                <label for="note"><%= language.note %> </label>
                                                                <input type="text" class="form-control"
                                                                    placeholder="note" id="note" name="note">
                                                            </div>
                                                        

                                                            
                                                                
                                                            <!-- <div class="mb-3 col-md-6">
                                                                <label class="form-label">Batch code</label>
                                                                <input type="text" placeholder="Batch code" class="form-control" name="batch_code" required>
                                                            </div> -->

                                                            
                                                        </div>
                                                        
                                                    
                                                    </div>

                                                    <!-- <div class="row">
                                                        <button class="btn btn-primary" type="submit"
                                                            id="purchase_submit"><%= language.submit %> </button>
                                                    </div> -->
                                                </form>

                                                <div class="row">
                                                    <button class="btn btn-primary" onclick="showConfirmation()" type="submit"
                                                        id="purchase_submit"  ><%= language.submit %> </button>
                                                        <!-- <input class="btn btn-primary"  type="submit"
                                                        id="purchase_submit" onclick="showConfirmation()" ><%= language.submit %> </input> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div id="myModal" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                          <div class="modal-header">
                            <span class="close">&times;</span>
                            <h2>Summary</h2>
                          </div>
                          <div class="modal-body">

                            

                            <table style="width:50%" >
                                <thead>
                                    <tr>
                                        <td>Document Number:</td>
                                        <td><b id="Inv"></b></td>
                                    </tr>
                                    <tr>
                                        <td>Supplier:</td>
                                        <td><b id="supplier"></b></td>
                                    </tr>

                                    <tr>
                                        <td>Date received:</td>
                                        <td><b id="dateRec"></b></td>
                                    </tr>

                                    <tr>
                                        <td>Warehouse:</td>
                                        <td><b id="houseware"></b></td>
                                    </tr>

                                </thead>
                            </table>
                            
                          </div>
                          <div class="table-responsive">
                            <table class="table primary-table-bordered" style="width:100%" id="purchases_tbl_modal">

                            </table>
                          </div>
                          
                          <div class="modal-footer">
                            <button class="btn btn-primary" onclick="saveAndContinue()">Save and Continue</button>
                          </div>
                        </div>
                      
                    </div>
                    <!--**********************************
            Content body end
        ***********************************-->

                    <!--**********************************
            Footer start
        ***********************************-->
                    <%- include('./partials/footer'); -%>

                        <!--**********************************
            Footer end
        ***********************************-->

    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!-- start Toastr -->
    <%- include('./partials/toastr'); -%>
        <!-- End Toastr -->

        <!--**********************************
        Scripts
    ***********************************-->

       
        <%- include('./partials/script'); -%>
    <script>

    $(function(){
        var dtToday = new Date();
        
        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();
        if(month < 10)
            month = '0' + month.toString();
        if(day < 10)
            day = '0' + day.toString();
        
        var maxDate = year + '-' + month + '-' + day;
        $('#date').attr('max', maxDate);
    });


    
    function SelectRoom() {
    var variable = document.getElementById("warehouse_name").value;
    var selectRoom = $('#showRoom');

    $.ajax({
        url: '/warehousemap_Income/Rooms_data',
        method: 'POST',
        data: { warehouse_name: variable },
        success: function (response) {
            selectRoom.empty();

            $.each(response, function (index, data) {
                var roomName = data.room_name;
                var roomCode = data.room_name;

                // Create checkbox element instead of option
                var checkboxElement = $('<input>')
                    .attr('type', 'checkbox')
                    .addClass('form-check-input')
                    .val(roomName)
                    .attr("name", "room_name")
                    .attr("id", "room_data"+index)
                    .attr('roomcode', roomCode);

                // Create label for the checkbox
                var labelElement = $('<h5>').text(roomName).prepend(checkboxElement);

                // Append the label to the container
                selectRoom.append(labelElement);

                labelElement.click(function () {
                    checkboxElement.prop('checked', !checkboxElement.prop('checked'));
                });

                checkboxElement.click(function (event) {
                    event.stopPropagation();
                });

                // BayBin();
                checkboxElement.click(function () {
                    BayBin(index, roomName);
                });
            });
        }
    });
}

    


    
    function showTextbox() {
      var dropdown = document.getElementById("choice-dropdown");
      var selectedChoice = dropdown.value;

      var primaryTextbox = document.getElementById("primary-textbox");
      var secondaryTextbox = document.getElementById("secondary-textbox");

      if (selectedChoice === "Primary") {
        primaryTextbox.style.display = "block";
        secondaryTextbox.style.display = "none";
        document.getElementById("product_code").focus()
        
        // primaryTextbox.focus()
      } else if (selectedChoice === "Secondary") {
        primaryTextbox.style.display = "none";
        secondaryTextbox.style.display = "block";
      } else {
        primaryTextbox.style.display = "none";
        secondaryTextbox.style.display = "none";
      }
    }

    function datahceck(){
        var checkBox = document.getElementsByName("typeservices");
        var arrayData = [];
        for (let index = 0; index < checkBox.length; index++) {
            const element = checkBox[index];

            if(element.checked == true){
                arrayData += element.value + ',';
            }
              
        }

        if (arrayData.endsWith(',')) {
            arrayData = arrayData.substring(0, arrayData.length - 1);
        }

        document.getElementById("typeservicesData").value = arrayData;

    
    }

    function ValidationForMaxQTY(i){
        var prod_qty = document.getElementById("prod_qty"+i).value;
        var stocks_qty = document.getElementById("MaxStocks_data"+i).value;
        if(parseInt(prod_qty) >  parseInt(stocks_qty)){
            Swal.fire(
            'Sorry',
            'Sorry the maximum quantity has been reached.',
            'warning'
            )
            document.getElementById("prod_qty"+i).value = "";
        }
    }


    function checkingWarehouse(x, productcode, rooms){
       
        var Level = document.getElementById("prod_level"+x).value;
        var warehouse = document.getElementById("warehouse_name").value;
        if(warehouse.length <= 0){
            Swal.fire(
            'Sorry',
            'Warehouse is required!',
            'error'
            )
            document.getElementById("warehouse_name").focus()
        }
        var productName = document.getElementById("prod_name"+x).value;
        var Quanity = document.getElementById("prod_qty"+x);
        var tempMaxStocks = document.getElementById("MaxStocks_data2"+x).value;

        var resultValueFloorLevel = Level.slice(1);

        // alert(x + " <> " + productcode + " <> " + rooms + " <> " + resultValueFloorLevel + " <> " + warehouse)
        $.ajax({
            url: '/all_purchases_finished/CheckingWarehouse', 
            method: 'POST',
            data: {  productCode: productcode, bay: resultValueFloorLevel , warehouses: warehouse, room: rooms  }, 
            success: function(response) {

                if(response.length > 0){
                    $.each(response, function(index, data) {
                        
                        if(productName == data.name && resultValueFloorLevel == data.pallet){
                            var valQty = Quanity.value
                            if(isNaN(valQty)){
                                valQty = 0
                            }
                            var stocksData = parseInt(data.product_stock) - parseInt(data.maxProducts);
                            console.log(data.product_stock + " <> " + data.maxProducts)
                          
                            document.getElementById("MaxStocks_data"+x).value = Math.abs(parseInt(stocksData));
                            const newVal = document.getElementById("MaxStocks_data"+x).value;
                            
                            if(parseInt(valQty) > parseInt(newVal) ){
                            
                                if(newVal == 0){
                                    Swal.fire(
                                    'Sorry',
                                    'Sorry the maximum quantity has been reached in this pallet.',
                                    'error'
                                    )
                                    Quanity.value = newVal;
                                }else{
                                    Swal.fire(
                                    'Information',
                                    'This pallet have ' + data.product_stock + ' quantity  you will allow only ' +  newVal,
                                    'question'
                                    )

                                    Quanity.value = newVal;
                                }
                            }


                        }else{
                            Swal.fire(
                            'Sorry',
                            'Sorry the pallet already occupied.',
                            'warning'
                            )
                            Quanity.value = "";
                            // document.getElementById("prod_pallet"+x).value = "";
                            // alert("here")
                            document.getElementById("MaxStocks_data"+x).value = parseInt(tempMaxStocks);
                        }
                        
                    })

                }else{
                    
                    document.getElementById("MaxStocks_data"+x).value = parseInt(tempMaxStocks);
                    // alert(tempMaxStocks)
                }
                
            }
        })

    }

    function removeSelfRow(event) {
       
        var row = $(event.target).closest('tr');
        
        row.remove();
    }

    $(document).on('click', 'button#remove', function(event) {
        removeSelfRow(event);
    });


    function dateExpiry(x){
        $(function(){
                    var dtToday = new Date();
                    
                    var month = dtToday.getMonth() + 1;
                    var day = dtToday.getDate();
                    var year = dtToday.getFullYear();
                    if(month < 10)
                        month = '0' + month.toString();
                    if(day < 10)
                        day = '0' + day.toString();
                    
                    var maxDate = year + '-' + month + '-' + day;
                    $('#expiry_date'+x).attr('min', maxDate);
                });
    }
    
    function TypeList(x, room){
        var levelType = document.getElementById("type"+x);
        var test = document.getElementById("room_data"+x);
        var warehouse = document.getElementById("warehouse_name").value;
        
        var Location;
        if(warehouse == "Main"){
            // alert(room)
            switch(room){
                case "Rack 1":
                type = [1, 2 ,3];
                break;
                case "Rack 2":
                type = [1,2,3];
                break;
                case "Parts":
                type = [1,2,3];
                break;
            }

                var optionsHtml = '';
                type.forEach(function (num) {
                     optionsHtml += '<option value="' + num + '">' + num + '</option>';
                });
                levelType.innerHTML = optionsHtml;
        }else {
            switch(room){
                case "Ambient":
                type = [1];
                break;
            }

                var optionsHtml = '';
                type.forEach(function (num) {
                     optionsHtml += '<option value="' + num + '">' + num + '</option>';
                });
                levelType.innerHTML = optionsHtml;
            } 
    }

    function BayBin(x, room){
        const selectlevel= document.querySelectorAll(`select[level="levelOslie`+x+`"]`);
        var warehouse = document.getElementById("warehouse_name").value;
        var levelType = document.getElementById("type"+x);
        var levels = [];
        let outputArray = [];
        if(warehouse == "Main"){
            switch(room){
                case "Rack 1":

          
                        const letterRanges = [
                            { letter: 'A' },
                            { letter: 'B' },
                            { letter: 'C' },
                            { letter: 'D' },
                            { letter: 'E' },
                            { letter: 'F'},
                            { letter: 'G' },
                            { letter: 'H' },
                            { letter: 'I' },
                            { letter: 'J'},
                            { letter: 'K'},
                            { letter: 'L'},
                            { letter: 'M'},
                            { letter: 'N'},
                            { letter: 'O'},
                            { letter: 'P'},
                            { letter: 'Q'},
                            { letter: 'R'},
                            { letter: 'S'},
                            { letter: 'T'},
                            { letter: 'U'},
                            { letter: 'V'},
                            { letter: 'W'},
                            { letter: 'X'},
                            { letter: 'Y'},
                            { letter: 'Z'}
                        ];

                        for (const range of letterRanges) {
                            const { letter } = range;
                            
                                levels.push(letter );
                            
                        }

                    
                break;
                case "Rack 2":
                const letterRanges1 = [
                            { letter: 'A' },
                            { letter: 'B' },
                            { letter: 'C' },
                            { letter: 'D' },
                            { letter: 'E' },
                            { letter: 'F'},
                            { letter: 'G' },
                            { letter: 'H' },
                            { letter: 'I' },
                            { letter: 'J'},
                            { letter: 'K'},
                            { letter: 'L'},
                            { letter: 'M'},
                            { letter: 'N'},
                            { letter: 'O'},
                            { letter: 'P'},
                            { letter: 'Q'},
                            { letter: 'R'},
                            { letter: 'S'},
                            { letter: 'T'},
                            { letter: 'U'},
                            { letter: 'V'},
                            { letter: 'W'},
                            { letter: 'X'},
                            { letter: 'Y'},
                            { letter: 'Z'}
                        ];

                        for (const range of letterRanges1) {
                            const { letter } = range;
                            
                                levels.push(letter );
                            
                        }
                break;

                case "Parts":
                levels = [0];
                break;
            }
            
            for (let i = 0; i < selectlevel.length; i++) {
                var optionsHtml = '';
                levels.forEach(function (num) {
                     optionsHtml += '<option value="' + num + '">' + num + '</option>';
                });
                 selectlevel[i].innerHTML = optionsHtml;
            }        
            
        }
}

    function ConversionKit(x,c){
       
       var unit = document.getElementById("prod_unit"+x).value;
       var qty = document.getElementById("prod_qty"+x).value;
       var prod_cat = document.getElementById("prod_cat"+x).value;
       var prod_othUnit = document.getElementById("prod_othUnit"+x).value;

       var totalQty = 0;
       var totalQty1 = 0;
       totalQty = qty +" "+unit ;
       totalQty1 = qty;
       if(prod_cat == "S"){
         totalQty1 = qty/c;

        totalQty = totalQty1 +" "+unit 
    
        if(totalQty1 >= 1){
            totalQty = totalQty1 +" "+prod_othUnit 
        }
       }
       document.getElementById("prod_Qty"+x).value = totalQty1;
       
       document.getElementById("Conver"+x).value = totalQty 

    }

    $(document).ready(function() {
    
    var x=1;
    var lastIncre = 0;
    $('#product_code').on('keydown', function(e) {
        if (e.which === 13) {
        e.preventDefault();
        return false;
        }
    });

    $('#product_code').on('input', function() {
        var productCode = $(this).val(); 

        var isProductExists = false;
        $('#tblPage_new tr').each(function() {
        var existingProductCode = $(this).find('td:nth-child(2)').text();
        if (existingProductCode === productCode) {
            isProductExists = true;
            return false; 
        }
        });
        
        if (!isProductExists) {

        $.ajax({
            url: '/all_purchases_finished/barcode_scanner', 
            method: 'POST',
            data: { product_code: productCode }, 
            success: function(response) {

            $.each(response, function(index, data) {
                var rooms_data = document.getElementsByName("room_name");
                

                for (let index = 0; index < rooms_data.length; index++) {
                    const element = rooms_data[index];

                    if(element.checked == true){
                        var RoomAssign = element.value;
                        var Invoice_num = document.getElementById("invoice").value;

                        if(data.product_cat == "P"){
                            var row = $('<tr>');
                            row.append($('<td>').html('<input type="text" class="form-control" style="width: 200px;" name="prod_code" value="' + data.product_code + '" readonly>'));
                            row.append($('<td>').html('<input type="text" class="form-control" style="width: 200px;" name="prod_name" id="prod_name'+ lastIncre +'" value="' + data.name + '" readonly>'));
                            
                            
                            // row.append($('<td>').html('<input type="number" class="form-control" style="width: 150px;" name="prod_qty" id="prod_qty'+ lastIncre +'" onkeyup="ValidationForMaxQTY('+ lastIncre +'); ConversionKit('+lastIncre+', '+data.maxProdPerUnit+'); checkingWarehouse('+lastIncre+','+ data.product_code +',\''+RoomAssign+'\');"  value="" >'));
                            row.append($('<td>').html('<select class="form-control" style="width: 200px;" name="status" id="status"><option value="O">OPERATIONAL</option><option value="NO">NON-OPERATIONAL</option><option value="UI">UNDER INSPECTION</option><option value="S">SOLD</option></select>'));
                            row.append($('<td>').html('<input type="date" class="form-control" style="width: 150px;" name="txtDate" id="txtDate'+lastIncre+'" value="">'));
                            row.append($('<td>').html('<textarea class="form-control" id="txtNote" name="txtNote" style="width: 200px;" rows="2" cols="50"></textarea>'));
                            row.append($('<td>').html('<input type="text" class="form-control" style="width: 100px;" name="prod_unit" id="prod_unit'+lastIncre+'" value="' + data.unit + '" readonly>'));
                            
                            row.append($('<td>').html('<input type="text" class="form-control" style="width: 100px;" name="RoomAssign" id="RoomAssign'+lastIncre+'" value="'+RoomAssign+'" readonly>'));
                            row.append($('<td>').html('<select class="form-control" name="type" level="type' + lastIncre + '" id="type' + lastIncre + '" style="width: 100px;" onchange="BayBin(' + lastIncre + ', \'' + RoomAssign + '\')"></select>'));
                            row.append($('<td>').html('<select class="form-control" name="prod_level" level="levelOslie'+lastIncre+'" id="prod_level' + lastIncre + '" style="width: 100px;" onchange="checkingWarehouse('+lastIncre+','+ data.product_code +',\''+RoomAssign+'\') "></select>'));
                            row.append($('<td>').html('<button type="button" class="btn btn-square btn-outline-danger" id="remove">Remove</button>'));
                            
                            $('<input>').attr({
                                type: 'hidden',
                                id: 'prod_id'+lastIncre,
                                name: 'prod_id',
                                value: data._id
                            }).appendTo(row);



                            $('<input>').attr({
                                type: 'hidden',
                                id: 'prod_invoice'+lastIncre,
                                name: 'prod_invoice',
                                value: Invoice_num
                            }).appendTo(row);


                            $('#tblPage_new').append(row);
                            TypeList(lastIncre, RoomAssign);
                            BayBin(lastIncre, RoomAssign)
                            // checkingWarehouse(lastIncre, data.product_code, RoomAssign)
                            lastIncre++;

                        }


                        
                    }

                    
                }
                        

                    


                        // BayBin(x)
                        // dateExpiry(x)
                        x++;
                
            });
            // Clear the product code input field
            $("#product_code").val('');
            },
            error: function(xhr, status, error) {
                $("#product_code").val('');
                Swal.fire(
                '',
                'We were unable to locate the barcode you entered. Please try scanning another barcode.',
                'warning'
                )
            }
        });
        }
    });
    });
    </script>
            <!--**********************************
        Scripts end
    ***********************************-->
</body>

</html>